{% extends 'shop/base.html' %}

{% block body %}

<div class="container mt-5">
    <h2>About Us</h2>
    <div class="row">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Supreme%20Cycle%20and%20Rickshaw%20co%20Khalilabad&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe>
                    <a href="https://www.embedgooglemap.net/blog/elementor-pro-discount-code-review/">elementor review</a>
                </div>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
                </style>
            </div>
        <form class="ml-2">
            <div class="form-group ml-3">
                    <h3>Supreme Cycle And Rickshaw Co.</h3>
                    <p>Mehdawal Road Khalilabad Sant Kabir Nagar Uttar Pradesh-272175</p>
                    <p>Contact No-<b>9839850588,9919887085 </b></p>
                    <p>Email id-<b>mustfa9839@gmail.com</b>,<b>mustfa.cyclestore@gmail.com</b></p>
                    <a href="https://maps.google.com/maps?ll=26.773508,83.070889&z=19&t=h&hl=en-US&gl=US&mapclient=embed&daddr=Supreme%20Cycle%20And%20Rickshaw%20Company%20Mehdawal%20Road%20Khalilabad%20sant%20kabir%20nagar%20Khalilabad%2C%20Uttar%20Pradesh%20272175@26.7735077,83.0708894"><button type="button" class="btn btn-primary">Get Direction</button></a>
            </div>
        </form>  
    </div>
                    
</div>
        


{% endblock %}