<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
    <style> 
            {% block css %}
    
            {% endblock %}
            
      </style>
  </head>
  <body>

<!--    <header>
        <div class="container col-xl-12 col-md-12 col-lg-12 col-sm-12">
            <h1> Your Heading Goes Here......</h1>
        </div>
    </header>  -->
<!-- NAVIGATION BAR STARTS HERE..-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mx-2 font-italic text-warning" href="/shop/">SCRC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/shop/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">TriCycles</a>
                <a class="dropdown-item" href="#">BiCycles</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Bicycle Tyres</a>
                <a class="dropdown-item" href="#">Bicycle Tubes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Bike Tyres</a>
                <a class="dropdown-item" href="#">Bike Tubes</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop/trackorder">Track Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop/contact">Contact Us</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/shop/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop/login">Login</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <button type="button" id='popupcart' class="btn btn-secondary mx-2" data-container="body" data-toggle="popover" data-html='true' data-placement="bottom" data-content="">
              Cart(<span id="cart">0</span>)
              </button>
                <button class="btn btn-primary my-2 my-sm-0 clearCartButton" type="button">Clear Cart</button>
        </div>
      </nav>
<!-- NAVIGATION BAR ENDS HERE..-->

<!-- BLOCK REST OF THE BODY-->
{% block body %} {% endblock %}
<!-- END OF REST OF THE BODY-->

<!-- Footer Starts Here......-->
<footer  style="background-color: #2c292f">
    <div class="container mt-2">
        <div class="row ">
            <div class="col-md-4 text-center text-md-left ">
                
                <div class="py-0">
                    <h3 class="my-4 text-white">About<span class="mx-1 font-italic text-warning ">Supreme Cycle And Rickshaw Co.</span></h3>

                    <p class="footer-links font-weight-bold">
                        <a class="text-white" href="/shop/">Home</a>
                        |
                        <a class="text-white" href="/blog">Blog</a>
                        |
                        <a class="text-white" href="/shop/about">About</a>
                        |
                        <a class="text-white" href="/shop/contact">Contact</a>
                    </p>
                    <p class="text-light py-4 mb-4">&copy;2019 Supreme Cycle and Rickshaw Co.</p>
                </div>
            </div>
            
            <div class="col-md-4 text-white text-center text-md-left ">
                <div class="py-2 my-4">
                    <div>
                        <p class="text-white"> <i class="fa fa-map-marker mx-2 "></i>
                                Mehdawal Road Khalilabad
                                Sant Kabir Nagar Uttar Pradesh
                                  Pin Code- 272175</p>
                    </div>

                    <div> 
                        <p><i class="fa fa-phone  mx-2 "></i> +91 9839850588</p>
                    </div>
                    <div>
                        <p><i class="fa fa-envelope  mx-2"></i><a href="mustfa9839@gmail.com">mustfa9839@gmail.com</a></p>
                    </div>  
                </div>  
            </div>
            
            <div class="col-md-4 text-white my-4 text-center text-md-left ">
                <span class=" font-weight-bold ">About the Company</span>
      <p class="text-warning my-2" >We are the authorized delear of all premium Bicycle and Bicycle Products. All the product are available at best and competitive price.</p>
                <div class="py-2">
                    <a href="#"><i class="fab fa-facebook fa-2x text-primary mx-3"></i></a>
                    <a href="#"><i class="fab fa-google-plus fa-2x text-danger mx-3"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x text-info mx-3"></i></a>
                    <a href="#"><i class="fab fa-youtube fa-2x text-danger mx-3"></i></a>
                </div>
            </div>
        </div>  
    </div>
 </footer>
 <!-- end of footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
    {% block js %}

    {% endblock %}
    
  </body>
</html>