{% extends 'shop/base.html' %}
{% block body %}
<div class="container col-lg-8 col-sm-12 col-md-4 my-4">
    <div>
        <div class="col-lg-8 mx-auto">
            <h2> Supreme-Express Checkout Page </h2>
        </div>
        <h3> Step-1  Review Your Cart Items </h3>
    
        <ul class="list-group my-4" id="items">            
        </ul>
        <div class="alert alert-primary" role="alert">
            Your Total Cart value for items is... Rs  <span id="totPrice"></span>
          </div>
    </div>
    <div class="my-4">
        <h2> Step-2 Fill Your Personal Details For Product Shipping...</h2>
        <form action="/shop/checkout/" method="post"> {% csrf_token %}
            <input type="hidden" name="itemJson" id="itemJson">
            <input type="hidden" name="amount" id="amount">
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="name" name="name" placeholder="Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email Id</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Id" required>
                </div>
                </div>
                <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="address1"  name="address1" placeholder="Flat No. Streat/Locality/Town" required>
                </div>
                <div class="form-group">
                <label for="inputAddress2">Address Line 2</label>
                <input type="text" class="form-control" id="address2" name="address2" placeholder="Town/City/District" required>
                </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
                </div>
                </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="phoneno">Phone Number</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Mobile Number" required>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">PinCode</label>
                    <input type="text" class="form-control" id="zip_code" name="zip_code" placeholder="Zip Code">
                </div>
                </div>
                </div>
               
                <button type="submit" class="btn btn-primary">Proceed To Payment</button>
            </form>
        </div>

</div>

{% endblock %}
{% block js %}
<script>
    sum=0;
    if(localStorage.getItem('cart')==null)
    {
      var cart={};
    }
    else
    {
      cart=JSON.parse(localStorage.getItem('cart'));
    }
if($.isEmptyObject(cart))
{
    $('#items').append("<p> Add at least single items in your cart before proceeding furthur...")
}
else{
    var price=0;
    for(item in cart)
    {
        let qty=cart[item][0];
        let name=cart[item][1];
        sum+=qty;
        price+=(cart[item][2]*qty);
        var mystr=`<li class="list-group-item d-flex justify-content-between align-items-center">
            ${name}
            <span class="badge badge-primary badge-pill">${qty}</span>
            </li>`
        $('#items').append(mystr)
    }
    document.getElementById('totPrice').innerHTML=price;
  /*  var mystr=`<li class="list-group-item d-flex justify-content-between align-items-center">
            <b>Total Cart Value For Your Items is </b>
            <span class="badge badge-primary badge-pill font-weight-bold"><h4>Rs: <span id=totPrice>${price}</span></h4></span>
            </li>`
        $('#items').append(mystr) */
    //console.log(price);

}
document.getElementById('cart').innerHTML=sum;
//console.log(cart);
$("#itemJson").val(JSON.stringify(cart)); 
{% if ordr_cnf %}
alert("Thank You For Shopping with Us Kindly Note your Tracker Id {{odid}} for further tracking the order details...")
localStorage.clear()
document.location="/shop/"
{% endif %}
$("#amount").val($('#totPrice').html())
</script>
{% endblock %}